.registerFormSection {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    flex-direction: column;
    display: flex;
}

.step2Tooltip {
    text-align: center;
    width: 270px !important;
}